/* ==========================================================================
   Common for global
   ========================================================================== */
body{font-family:"Roboto", sans-serif;background-color:#fff;line-height:1.5;font-weight:normal;color:rgba(0,0,0,0.87);}
ul{padding:0;}
ul li{list-style:none;}
.plr0{padding-left: 0;padding-right: 0;}

hr{margin:0 auto 10px;}
hr.dashed{height:1px;border:none;border-top:1px dashed #333333;}
hr.solid{height:1px;border:none;border-top:1px solid #eeeeee;margin-top: 10px;}
